@import 'variables';

body{
    font-size: 16px;
    font-family: $font;
}
header{
    padding: 20px;

    .container{
        display: flex;
        nav{
            margin-left: auto;;
            display: flex;;
        }
        .menu-toggle{
            display: none;
        }
    }
}
/*
.container{
    max-width: 1000px;
    padding: 0 10px;;
    margin: 0 auto;
    color: $color-primary;
}

article.content > *
{
    background-color: red;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}*/